<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет products -->
{% block title %}
Products
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, ID которого было передано в адрес -->
{% block content %}
    {% if post %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>Категория</td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Cодержание
                </td>
            </tr>
            {% for catt in post.categ.all %}
                <tr>
                    <td>
                        {{ post.heading|Censor }}
                    </td>
                    <td>
                        {{ catt.name_category }}
                        {% if is_auth %}
                            <form action="/subscribe/" method="POST">
                                {% csrf_token %}

                                <!-- передаём через скрытое поле id категории -->
                                <input type="hidden" name="catt_id" value="{{ catt.id }}">
                                <!-- если пользователя нет в категориях то отображаем кнопку Подписаться-->
                                {% if current_user not in catt.subscr_user.all %}
                                    <input type="submit" name="subscribe_button" value="Подписаться">
                                {% else %}
                                    <!-- если пользователь есть в категориях то отображаем кнопку Отписаться-->
                                    <input type="submit" name="unsubscribe_button" value="Отписаться">
                                {% endif %}
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        {{ post.date_create|date:'d M Y' }}
                    </td>
                    <td>
                        {{ post.text|Censor }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Товаров нет!</h2>
    {% endif %}


{% endblock content %}